{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

  <script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];
    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 30, 45],
      }]
    };
    const config = {
      type: 'line',
      data,
      options: {}
    };
    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );


  </script>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>IP</th>
        <th>Port</th>
        <th>Latency</th>
        <th>Updated</th>
        <th>Created</th>
      </tr>
    </thead>

    <tbody>
      {% for r in records %}
      <tr>
        <td>{{ r['ip'] }}</td>
        <td>{{ r['port'] }}</td>
        <td>{{ r['delay'] }}</td>
        {% if r['updated'] %}
        <td>{{ r['updated'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        {% else %}
        <td></td>
        {% endif %}

        {% if r['created'] %}
        <td>{{ r['created'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}