<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Pallet Management System</title>
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.js') }}">

    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('blog.index') }}">Pallet Management System</a>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav ms-auto ">

                    {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ g.user['username'] }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Log In</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</head>

<section class="content">

    <header>
        {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</section>